body {
  font-family: "Inter", sans-serif;
  font-size: large;
  line-height: 1.4;
}

h1,
h2 {
  font-family: "Metropolis", sans-serif;
}

h2,
p,
label,
span {
  font-weight: lighter;
}

#mozilla-logo {
  margin-top: 12px;
  margin-left: 12px;
}

/* Error Notification Styling */
.error-notification {
  display: none;
  position: relative;
  background-color: #ffea80;
  max-width: fit-content;
  min-height: 40px;
  box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.24);
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
  transition: 0.3s ease;
}

.error-notification.hidden {
  opacity: 0;
  pointer-events: none;
}

.error-notification .close-button {
  padding: 8px;
  cursor: pointer;
  background-color: #ffd567;
  margin-left: auto;
  margin-bottom: auto;
}

.error-notification p {
  margin: 0;
  padding: 10px 50px;
  font-size: 0.8em;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}

/* Start of content styling */
.welcome-content {
  display: flex;
  padding: 60px;
  align-items: center;
}

#welcome-image {
  min-width: 40%;
  margin-right: 30px;
  margin-top: 20px;
}

#welcome-image-mobile {
  display: none;
}

.welcome-info {
  min-width: 60%;
}

/* Mobile & Small Screen Styling */
@media (max-width: 768px) {
  .welcome-content {
    flex-direction: column;
    padding: 20px;
  }

  #welcome-image {
    display: none;
  }

  #welcome-image-mobile {
    display: block;
    max-width: 50%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Title and Beta Styling */
.welcome-header {
  display: flex;
  align-items: center;
}

.welcome-header span {
  border-radius: 8px;
  border: #cfcfd8 solid 2px;
  font-weight: lighter;
  padding: 12px;
  margin-left: 10px;
}

/* Subtitle Styling */
.welcome-info h2 {
  margin-top: 0px;
}

/* Browser List Styling (Firefox only) */
.browser-list label {
  font-weight: 600;
  font-size: 0.7em;
  margin-bottom: 20px;
}

.browser-list select {
  width: 55%;
  max-width: 400px;
  padding: 5px;
  margin-bottom: 10px;
  margin-top: 5px;
}

/* Shortcuts List Styling */
#shortcuts-list {
  margin-top: -20px;
}

/* Telemetry Styling (Both) and Always Private Styling (Chromium Only) */
.telemetry,
.always-private {
  display: flex;
  margin-top: 20px;

  label {
    margin-top: 2px;
  }
}

.checkbox-container {
  display: flex;
  margin-right: 20px;
}

/* Slider Styling */
.slider {
  appearance: none;
  width: 40px;
  height: 24px;
  cursor: pointer;
  position: relative;
}

/* Slider thumb */
.slider::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border-radius: 20px;
  transition: 0.4s;
  z-index: 1;
}

/* Slider background */
.slider::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cdcdd4;
  border-radius: 20px;
  transition: 0.4s;
}

/* Move slider thumb */
.slider:checked::before {
  transform: translateX(16px);
}

/* Change slider background color */
.slider:checked::after {
  background-color: #0060df;
}
