@font-face {
  font-family: "Inter";
  src: url("fonts/inter.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Metropolis";
  src: url("fonts/Metropolis-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Metropolis";
  src: url("fonts/Metropolis-Light.otf") format("opentype");
  font-weight: lighter;
  font-style: normal;
}